.Index {
    display: flex;
    flex-direction: column;
    background: url('/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 72px;
}

.Index .Form {
    padding: 32px;
    margin: auto 0;
    background: white;
    text-align: center;
}

.Index .Form select {
    margin-bottom: 8px;
}

.Index .Form button {
    margin-top: 12px;
    background: var(--color-secondary);
    color: var(--color-light-0);
    font-weight: bold;
    text-transform: uppercase;
}

.Index .New {
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
}

.Index .New .button {
    background: var(--color-secondary);
    color: var(--color-light-0);
    font-weight: bold;
    text-transform: uppercase;
}