.Login {
    padding: 32px;
    background: white;
}

.Login__Title {
    text-align: center;
    font-weight: 300;
}

.Login__Subtitle {
    text-align: center;
    display: block;
}

.Login__Image {
    display: block;
    margin: auto;
}

.Login__Button {
    margin-top: 8px;
}

.Login__Button svg {
    margin-right: 8px;
}

.Login__IndexLink {
    display: block;
    margin-top: 32px;
    text-align: center;
}