.Search {
    animation: fadein .3s;
}

.Search header {
    background: var(--color-light-0);
    opacity: .9;
    padding: 4px 16px;
}

.Search nav .Toggle {
    margin-left: 16px;
}

.Search .Form input {
    margin-bottom: 8px;
}

.Search__Button {
    padding: .3rem;
    max-width: 90px;
    margin: 8px;
    border: none;
    background: transparent;
    color: var(--color-light-0);
}

.Search__Menu {
    display: flex;
    justify-content: flex-end;
    background: var(--color-dark-0);
}

.Search__Items {
    padding: 12px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}