.Feature {
    background-color: #f8f8f8;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Feature__Key {
    font-weight: 400;
    color: var(--color-secondary);
    margin-bottom: 8px;
}

.Feature__Value {
    font-weight: 800;
    color: var(--color-dark-1);
}