.Item {
    width: 100%;
    height: 146px;
    margin-bottom: 12px;
    list-style-type: none;
    text-align: left;
    border-radius: 4px;
    overflow: hidden;
}

.Item__Inner {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    background-color: white;
}

.Item__Inner--highlight {
    background: var(--color-hightLight);
}

.Item__Info {
    transition: all .3s;
    width: calc(100% - 146px);
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto;
}

.Item .Info__Title {
    margin: 0;
    font-size: 1rem;
}

.Item .Info__SubTitle {
    display: block;
    margin: 4px 0;
    font-size: .9rem;
}

.Item .Info__Extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Item .Info__Feature {
    font-weight: 100;
    font-size: small;
}

.Item .Info__FeatureKey {
    font-weight: 600;
    color: var(--color-secondary);
}